/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: white;  
    
    color: #000000;
    font: Trebuchet;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
}


header {
    color: skyblue;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav {
    margin-left: 75%;
    width: 25%;
    
}
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;

}

nav ul li {
    float: right;
    
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 20px;
    text-decoration: none;
    position: relative;
    float: right;
    width: 100px;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: skyblue;
}




