/* Basislayout */

html, body {
    width: 100%;
    padding: 0;
    background-color: rgb(255, 255, 255);  
    color: #000000;
    font-family: Trebuchet, sans-serif;
    font-size: 105%;
}


main {
    margin: auto;
    max-width: 700px;
    position: relative;
}


article {
}


header {
    color: white;
    text-align: center;
    background-image: url('afbeeldingen/SuperSmashBRos.png');
    background-repeat: no-repeat;
    background-size: 700px;

}



footer {
    text-align: center;
    padding-bottom: 10px;
    clear: both;
}


/* Polariod Stylen */

div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

/* Specifieke Stylen */

#hoofdtitel {
    background-color: #000000;
    margin: 0px 50px;
    padding: 5px;
}

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav {
    float: right;
    width: 25%;
    height: 515px;
    margin: 20px;
    background-color: rgb(233, 233, 233);
    margin-right: 0px;
}

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: none;
    position: absolute;
    
}

nav ul li {

}

nav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    margin: 20px;
    text-decoration: none;
    position: relative;
    float: middle;
    width: 100px;
}

nav li a:hover {
    background-color: rgb(228, 248, 255);
}

nav li a.active {
    background-color: rgb(228, 248, 255);
}




